.title {
  text-align: center;
}

hr {
  width: 10%;
  border: 2px solid green;
}

.flex {
  width: 150vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 100px 10%;
}

.item {
  display: flex;
  width: 300px;
  margin-bottom: 20px;
}

span {
  padding: 10px 18px;
  background-color: aqua;
  border-radius: 50%;
  color: yellow;
  font-size: 50px;
}

.icon {
  padding: 10px;
}